@charset "UTF-8";
/*
  COLOPHON
  CSS framework: Compass / SASS                     | http://compass-style.org
  Type: League Gothic by M Rich and C Hadilaksono   | http://www.theleagueofmoveabletype.com/league-gothic
  Typographic scale: by The Happy Bit               | http://thehappybit.com/2012/03/flexible-css-typographic-scale/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, nav, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "League Gothic";
  src: url("../league_gothic.otf") format("truetype");
}

html {
  font-size: 14px;
}

body {
  margin: 0rem;
  font: 100%/1.5em sans-serif;
}

h1, h2, h3, h4 {
  font-family: "League Gothic", sans-serif;
}

h1 {
  font-size: 3.4285714285714284em;
  line-height: 1.3125em;
  margin: 0.5rem 1rem;
}
h1 a {
  text-decoration: none;
  color: #6ea4d4;
  font-size: 0.8em;
}

h2 {
  font-size: 2.2857142857142856em;
  line-height: 1.96875em;
}

h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.75em;
}

h4 {
  font-size: 1.5em;
  line-height: 2em;
}

p, nav {
  margin-bottom: 0.5em;
}

a {
  color: black;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted black;
}

header {
  background-color: #dddddd;
  color: #222222;
  padding: 0.3em 1em;
  border-bottom: 1px solid #CCCCCC;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav:after {
  content: " ";
  display: block;
  clear: both;
}
nav li {
  float: left;
  margin: 0 1rem 2rem;
}
nav a {
  display: inline-block;
  text-decoration: none;
  background: #dddddd;
  border-radius: 2px;
  padding: 0.2em 0.5em;
}
nav a:hover {
  color: white;
  background: #CB2032;
}

section {
  margin: 0 1rem;
  text-align: justify;
}
section ul {
  list-style-type: square;
  margin-left: 1em;
}

table {
  margin-bottom: 2rem;
  width: 100%;
}

tr:hover td {
  background: #98C32F !important;
}

th {
  background: #222222;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}
th a {
  text-transform: lowercase;
  margin-left: 1rem;
  font-size: 0.9em;
}

td {
  padding: 0.3em 0.5rem;
  border-bottom: 1px solid #dddddd;
}

.warning {
  border: 1px solid #CD0A0A;
  color: #CD0A0A;
  padding: 0.3em 0.5em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

a#back-home:before {
  content: "‹ ";
}

#glossary table {
  margin-bottom: 5rem;
}
#glossary th {
  font-size: 1.15em;
}
#glossary th:first-child {
  padding-left: 1rem !important;
}
#glossary th:nth-child(2) a {
  color: white;
  margin: 0;
}
#glossary th:nth-child(3) {
  color: #dddddd !important;
}
#glossary tr:not(:first-child) th {
  background: #dddddd;
  color: black;
  font-weight: normal;
  padding: 0.3em 0.5rem;
  text-align: left;
}
#glossary td:first-child {
  font-size: 1.15em;
  padding-left: 1rem;
}
#glossary td:last-child {
  padding-right: 1rem;
}
#glossary td:nth-child(3) {
  color: #777;
}
#glossary td.n-a {
  background: #dddddd;
}
#glossary td.fuzzy {
  background: #EE7C1C;
}
#glossary td.more-info {
  border-top: 3px solid #dddddd;
  font-size: 1em;
  font-style: italic;
}

#applications img {
  float: left;
  margin: 0 2rem 5rem 0;
}
#applications #details article {
  border-bottom: 1px solid #dddddd;
  padding: 2rem 0;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -ms-box-sizing: padding-box;
  box-sizing: padding-box;
}
#applications #details article#modularity {
  height: 669px;
}
#applications #details article#sharing {
  height: 744px;
}
#applications #details article:last-child {
  border: none;
}

#styleguide section {
  max-width: 1000px;
}
#styleguide h2 {
  border-bottom: 5px solid #6ea4d4;
  line-height: 1.5em;
  margin: 1em 0 0.3em;
}
#styleguide td.copy {
  background-color: #EEE;
}
#styleguide td.copy:before {
  content: "“";
}
#styleguide td.copy:after {
  content: "”";
}
#styleguide #fr td.copy:before {
  content: "« ";
}
#styleguide #fr td.copy:after {
  content: " »";
}
