/*
  COLOPHON
  CSS framework: Compass / SASS                     | http://compass-style.org
  Type: League Gothic by M Rich and C Hadilaksono   | http://www.theleagueofmoveabletype.com/league-gothic
  Typographic scale: by The Happy Bit               | http://thehappybit.com/2012/03/flexible-css-typographic-scale/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, nav, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "League Gothic";
  src: url("../league_gothic.otf") format("truetype");
}

html {
  font-size: 14px;
}

body {
  margin: 1rem;
  font: 100%/1.5em sans-serif;
}

h1, h2, h3, h4 {
  font-family: "League Gothic", sans-serif;
}

h1 {
  font-size: 3.4285714285714284em;
  line-height: 1.3125em;
  margin-bottom: 0.5rem;
}
h1 a {
  text-decoration: none;
  color: #6EA4D4;
  font-size: 0.8em;
}

h2 {
  font-size: 2.2857142857142856em;
  line-height: 1.96875em;
}

h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.75em;
}

h4 {
  font-size: 1.5em;
  line-height: 2em;
}

p, nav {
  margin-bottom: 0.5em;
}

a {
  color: black;
}

em {
  font-style: italic;
}

nav li {
  float: left;
  margin: 0 1rem 2rem;
}
nav a {
  display: inline-block;
  text-decoration: none;
  background: #dddddd;
  border-radius: 2px;
  padding: 0.2em 0.5em;
}
nav a:hover {
  color: white;
  background: #CB2032;
}

#no-margin {
  margin: 0;
}
#no-margin h1 {
  margin: 1rem;
}

table {
  margin-bottom: 5rem;
  width: 100%;
}

tr:hover {
  background: #98C32F;
}
tr:first-child th {
  background: #222;
  color: white;
  padding: 0.5em 0.5rem;
  font-weight: bold;
}

th {
  font-size: 1.15em;
  text-transform: uppercase;
  background: #dddddd;
  padding: 0.3em 0.5rem;
  text-align: left;
}
th a {
  text-transform: lowercase;
  margin-left: 1rem;
  font-size: 0.9em;
}
th:first-child {
  padding-left: 1rem !important;
}
th:nth-child(2) a {
  color: white;
  margin: 0;
}
th:nth-child(3) {
  color: #dddddd !important;
}

td {
  padding: 0.3em 0.5rem;
  border-bottom: 1px solid #dddddd;
}
td:first-child {
  font-size: 1.15em;
  padding-left: 1rem;
}
td:last-child {
  padding-right: 1rem;
}
td:nth-child(3) {
  color: #777;
}
td.n-a {
  background: #dddddd;
}
td.fuzzy {
  background: #EE7C1C;
}
td.more-info {
  border-top: 3px solid #dddddd;
  font-size: 1em;
  font-style: italic;
}

#applications #details {
  float: left;
  margin-left: 2rem;
}
#applications #details div {
  border-bottom: 1px solid #dddddd;
  padding: 2rem 0;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -ms-box-sizing: padding-box;
  box-sizing: padding-box;
}
#applications #details div#modularity {
  height: 669px;
}
#applications #details div#sharing {
  height: 744px;
}
#applications #details div:last-child {
  border: none;
}
